header {
  height: 6rem; // 96px
  background-color: var(--primary-color);
  padding: 0 3rem;

  display: flex;
  align-items: center;

  h1 {
    span {
      color: var(--button-color);
    }
  }
  
  .shape {
    h2 { 
      font-size: 1.5rem; // 24px
      border-bottom: 1px solid var(--border-color);

      padding-bottom: 1rem; // 16px
    }

	// Nova classe que passamos para a label
    .input {
    display: flex;
    flex-direction: column;
    font-weight: 500;

      // O estilo do input em si
      input {
        height: 3rem; // 48px
        font-size: 1rem;
        border-radius: 0.25rem; // 4px
        border: none;

        padding: 0 1rem; // 16px
        margin-top: 0.5rem; // 8px       

        background-color: var(--background-color);
        color: var(--text-color);

        &::placeholder {
          color: var(--placeholder-color);
        }
      }
    }
  }
}
